<h1>Add Address</h1>
<div>
    <input ng-model="address.addressType.code" type="text" placeholder="Address Type (Code)">
</div>
<div>
    <input ng-model="address.fromDate" placeholder="Valid From Date (MM/DD/YYYY)">
</div>
<div>
    <input ng-model="address.toDate" type="date" placeholder="Valid To Date (MM/DD/YYYY)" >
</div>
<div class="select2-container">
    <input select-box for-select='{"placeholder": "Nation", "action": "PersonProfileDetails/getNationList", "model": "address.nation"}' type="hidden" />
</div>
<div>
    <input ng-model="address.houseNumber" type="text" placeholder="House Number">
</div>
<div>
    <input ng-model="address.streetLine1" type="text" placeholder="Address Line 1">
</div>
<div>
    <input ng-model="address.streetLine2" type="text" placeholder="Address Line 2">
</div>
<div>
    <input ng-model="address.streetLine3" type="text" placeholder="Address Line 3">
</div>
<div>
    <input ng-model="address.streetLine4" type="text" placeholder="Address Line 4">
</div>
<div>
    <input ng-model="address.city" type="text" placeholder="City">
</div>
<div>
    <input ng-model="address.zip" type="text" placeholder="ZIP or Postal Code">
</div>
<div class="select2-container">
    <input select-box for-select='{"placeholder": "State", "action": "PersonProfileDetails/getStateList", "model": "address.state"}' type="hidden" />
</div>
<div class="select2-container">
    <input select-box for-select='{"placeholder": "County", "action": "PersonProfileDetails/getCountyList", "model": "address.county"}' type="hidden" />
</div>
<div>
    <button ng-click="saveNewAddress()">Save</button>
</div>