<h2 class="pi-modal-title">{{(isCreateNew?'personInfo.title.addEmail':'personInfo.title.editEmail')|i18n}}</h2>
<button class="close closebtn" ng-click="cancelModal()" title="close"></button>
<div class="row pad-dialog-lr">
    <div class="select2-container sm-fix col-sm-12 col-md-6 col-lg-6">
        <label class="input-field-label">Email Type</label><br>
        <input select-box for-select='{"placeholder": "{{"personInfo.placeholder.emailType"|i18n}}", "action": "PersonalInformationDetails/getEmailTypeList", "model": "email.emailType"}' type="hidden" />
        <p class="input-field-label mobile-errors" ng-class="[(!!stateCountyNationErrMsg ? 'field-error error-font-size' : 'no-display')]"
           role="alert" aria-live="assertive">{{stateCountyNationErrMsg|i18n}}</p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        <label ng-class="(!!stateCountyNationErrMsg && !zipFocused ? 'input-field-label field-error' : 'input-field-label')"
               class="input-field-label" for="zip">Email Address</label><br>
        <input ng-model="email.emailAddress" ng-blur="zipFocused=false; removeAddressFieldErrors()" ng-focus="zipFocused=true"
               ng-class="[(!!stateCountyNationErrMsg && !zipFocused ? 'input-field-error' : null)]"
               class="text-input-field semi-bold form-spacing" type="text" id="zip">
        <span ng-if="!!stateCountyNationErrMsg && !zipFocused" class="icon input-fail">
            <span class="icon-error ellucian-font"></span>
        </span>
        <p class="input-field-label mobile-errors" ng-class="[(!!stateCountyNationErrMsg ? 'field-error error-font-size' : 'no-display')]"
           role="alert" aria-live="assertive">{{stateCountyNationErrMsg|i18n}}</p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        <label ng-class="(!!stateCountyNationErrMsg && !zipFocused ? 'input-field-label field-error' : 'input-field-label')"
               class="input-field-label" for="email-cmnt">Comments</label><br>
        <textarea ng-model="email.commentData" ng-blur="zipFocused=false; removeAddressFieldErrors()" ng-focus="zipFocused=true"
               ng-class="[(!!stateCountyNationErrMsg && !zipFocused ? 'input-field-error' : null)]"
               class="text-input-field semi-bold form-spacing" rows="2" maxlength="60" id="email-cmnt"></textarea>
        <span ng-if="!!stateCountyNationErrMsg && !zipFocused" class="icon input-fail">
            <span class="icon-error ellucian-font"></span>
        </span>
        <p class="input-field-label mobile-errors" ng-class="[(!!stateCountyNationErrMsg ? 'field-error error-font-size' : 'no-display')]"
           role="alert" aria-live="assertive">{{stateCountyNationErrMsg|i18n}}</p>
    </div>
    <div class="col-xs-12 float-l">
        <input ng-model="email.preferredIndicator" class="main-nav-check" id="email-preferred" type="checkbox" aria-describedby="email-preferred-txt"/>
        <p class="lbl" id="email-preferred-txt"><label for="email-preferred">{{'personalInfo.label.markPreferred'|i18n}}</label></p>
    </div>
</div>
<div class="dialog-footer-margin modal-footer addAddr">
    <button ng-click="cancelModal()" class="dialog-btn">{{'personInfo.label.button.cancel'|i18n}}</button>
    <button ng-click="saveEmail()" class="dialog-btn save-btn">
        <span class="mid-dash">{{(isCreateNew?'personInfo.label.button.save':'personInfo.label.button.update')|i18n}}</span>
    </button>
</div>
