<h2 class="pi-modal-title">{{(isCreateNew?'personInfo.title.addEmail':'personInfo.title.editEmail')|i18n}}</h2>
<button class="close closebtn" ng-click="cancelModal()" title="close"></button>
<div class="row pad-dialog-lr">
    <div class="select2-container sm-fix col-sm-12 col-md-6 col-lg-6">
        <label class="input-field-label">{{'personInfo.label.emailType'|i18n}}</label><br>
        <input select-box for-select='{"placeholder": "{{"personInfo.placeholder.emailType"|i18n}}", "action": "PersonalInformationDetails/getEmailTypeList", "model": "email.emailType"}' type="hidden" />
        <p class="input-field-label mobile-errors" ng-class="[(!!emailTypeErrMsg ? 'field-error error-font-size' : 'no-display')]"
           role="alert" aria-live="assertive">{{emailTypeErrMsg|i18n}}</p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        <label ng-class="(!!emailAddressErrMsg && !emailAddrFocused ? 'input-field-label field-error' : 'input-field-label')"
               class="input-field-label" for="zip">{{'personInfo.label.emailAddress'|i18n}}</label><br>
        <input ng-model="email.emailAddress" ng-blur="emailAddrFocused=false; removeEmailFieldErrors()" ng-focus="emailAddrFocused=true"
               ng-class="[(!!emailAddressErrMsg && !emailAddrFocused ? 'input-field-error' : null)]"
               class="text-input-field semi-bold form-spacing" type="text" placeholder="{{'personInfo.placeholder.enterEmail'|i18n}}" id="zip">
        <span ng-if="!!emailAddressErrMsg && !emailAddrFocused" class="icon input-fail">
            <span class="icon-error ellucian-font"></span>
        </span>
        <p class="input-field-label mobile-errors" ng-class="[(!!emailAddressErrMsg ? 'field-error error-font-size' : 'no-display')]"
           role="alert" aria-live="assertive">{{emailAddressErrMsg|i18n}}</p>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        <label class="input-field-label" for="email-cmnt">{{'personInfo.label.comments'|i18n}}</label><br>
        <textarea ng-model="email.commentData" class="text-input-field semi-bold form-spacing" rows="2" maxlength="60"
                  placeholder="{{'personInfo.placeholder.enterComment'|i18n}}" id="email-cmnt"></textarea>
    </div>
    <div class="col-xs-12 float-l">
        <input ng-model="email.preferredIndicator" class="main-nav-check" id="email-preferred" type="checkbox" aria-describedby="email-preferred-txt"/>
        <p class="lbl" id="email-preferred-txt"><label for="email-preferred">{{'personalInfo.label.markPreferred'|i18n}}</label></p>
    </div>
    <p class="input-field-label mobile-errors response-err" ng-class="[(!!emailErrMsg ? 'field-error error-font-size' : 'no-display')]"
       role="alert" aria-live="assertive">{{emailErrMsg}}</p>
</div>
<div class="dialog-footer-margin pi-modal-footer">
    <button ng-click="cancelModal()" ng-class="[(isCreateNew ? 'one-btn-layout' : 'two-btn-layout')]" class="dialog-btn cancel-btn">
        {{'personInfo.label.button.cancel'|i18n}}
    </button>
    <button ng-click="saveEmail()" ng-class="[(isCreateNew ? 'one-btn-layout' : 'two-btn-layout')]" class="dialog-btn save-btn">
        {{(isCreateNew?'personInfo.label.button.add':'personInfo.label.button.update')|i18n}}
    </button>
</div>
