<!--*******************************************************************************
Copyright 2016 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<div class="email-list">
    <notification-box ng-if="emails.length === 0" notification-text="{{'personInfo.label.noEmails'|i18n}}"></notification-box>
    <div class="row">
        <div ng-repeat="email in emails">
            <div class="address-wrapper sm-fix col-sm-12 col-md-6 col-lg-6">
                <div class="email-detail" id="{{$index}}-email">
                    <div class="semi-bold">
                        {{email.emailType.description + (email.preferredIndicator ? ' ('+ ('personInfo.label.preferred'|i18n)+')' : '')}}
                    </div>
                    <div>
                        <a class="email-link pi-link" href="mailto:{{email.emailAddress}}">{{email.emailAddress}}</a>
                    </div>
                    <div class="pi-comment">
                        {{email.commentData}}
                    </div>
                </div>
                <div ng-if="isPreferredEmailUpdateable || !email.preferredIndicator" class="button-block">
                    <a ng-click="openEditEmailModal(email)" class="pi-edit-item-link pi-icon-link"
                       title="{{'personInfo.button.title.editEmail'|i18n}}" tabindex="0">
                        <span class="icon-edit-CO"></span>
                    </a>
                    <button ng-click="confirmEmailDelete(email)" class="delete-btn"
                            title="{{'personInfo.button.title.deleteEmail'|i18n}}"></button>
                </div>
            </div>
            <div ng-if="$index%2 === 1" class="clearfix hidden-xs"></div>
        </div>
    </div>
</div>