<!--******************************************************************************
Copyright 2017-2020 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<h2 class="pi-modal-title">{{'personInfo.label.directoryProfile'|i18n}}</h2>
<button class="close closebtn" ng-click="cancelModal()" title="{{'personInfo.button.title.close'|i18n}}"></button>
<div class="dir-profile">
    <div class="dir-profile-instr">
        {{'personInfo.label.directoryProfile.instructions'|i18n}}
    </div>
    <div class="row pad-dialog-lr hidden-xs">
        <div class="col-sm-2 col-md-3 col-lg-3 dir-profile-col-hdg">{{'personinfo.directoryProfile.itemLabel'|i18n}}</div>
        <div class="col-sm-8 col-md-6 col-lg-6 dir-profile-col-hdg">{{'personinfo.directoryProfile.currentListingLabel'|i18n}}</div>
        <div class="col-sm-2 col-md-3 col-lg-3 dir-profile-col-hdg" id="display-in-dir-hdg">{{'personinfo.directoryProfile.displayDirectoryLabel'|i18n}}</div>
    </div>
    <div ng-repeat="listing in directoryProfile">
        <div class="row pad-dialog-lr" ng-class-odd="'shaded'">
            <ng-include src="'personalInformationApp/piDirectoryProfile/piDirectoryProfileItem.html'|webAppResourcePath"></ng-include>
        </div>
    </div>
    <p class="input-field-label mobile-errors response-err" ng-class="[(!!dirProfileErrMsg ? 'field-error error-font-size' : 'no-display')]"
       role="alert" aria-live="assertive">{{dirProfileErrMsg}}</p>
    <div class="dialog-footer-margin pi-modal-footer">
        <button ng-click="cancelModal()" class="dialog-btn-cancel cancel-btn two-btn-layout">
            {{'personInfo.label.button.cancel'|i18n}}
        </button>
        <button ng-click="saveDirectoryProfile()" class="dialog-btn primary two-btn-layout">
            {{'personInfo.label.button.update'|i18n}}
        </button>
    </div>
</div>
