<!--*******************************************************************************
Copyright 2016 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<div class="row addr-list">
    <div ng-repeat="(addrType, addressTimePeriods) in addressGroup">
        <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="address-type-view">
                {{addrType}}
            </div>
            <div class="row">
                <div ng-repeat="address in getOrderedAddressesForType(addrType)">
                    <ng-include src="'personalInformationApp/piAddress/piAddress.html'|webAppResourcePath"></ng-include>
                </div>
            </div>
        </div>
    </div>
</div>
