<!--*******************************************************************************
Copyright 2016 Ellucian Company L.P. and its affiliates.
********************************************************************************-->
<div class="address-wrapper sm-fix col-sm-12 col-md-12 col-lg-12">
    <div class="address-detail">
        <div>
            {{(address.isFuture ? 'personInfo.label.future' : 'personInfo.label.current')|i18n}}
        </div>
        <div class="clearfix">
            <div class="address-date-range">
                {{address.fromDate}}&nbsp;-&nbsp;
            </div>
            <div class="address-date-range" ng-if="address.toDate">
                {{address.toDate}}
            </div>
            <div class="address-date-range" ng-if="!address.toDate">
                ({{'personInfo.no.end.date'|i18n}})
            </div>
        </div>
        <div ng-if="address.displayAddress.addressLine1">
            {{address.displayAddress.addressLine1}}
        </div>
        <div ng-if="address.displayAddress.addressLine2">
            {{address.displayAddress.addressLine2}}
        </div>
        <div ng-if="address.displayAddress.addressLine3">
            {{address.displayAddress.addressLine3}}
        </div>
        <div ng-if="address.displayAddress.addressLine4">
            {{address.displayAddress.addressLine4}}
        </div>
        <div ng-if="address.displayAddress.addressLine5">
            {{address.displayAddress.addressLine5}}
        </div>
        <div ng-if="address.displayAddress.addressLine6">
            {{address.displayAddress.addressLine6}}
        </div>
        <div ng-if="address.displayAddress.addressLine7">
            {{address.displayAddress.addressLine7}}
        </div>
        <div ng-if="address.displayAddress.addressLine8">
            {{address.displayAddress.addressLine8}}
        </div>
        <div ng-if="piConfig.addressSectionMode === SECTION_UPDATEABLE && address.isUpdateable" class="button-block">
            <a ng-click="openEditAddressModal(address)" enter-key="openEditAddressModal(address)" class="pi-edit-item-link pi-icon-link"
               title="{{'personInfo.button.title.editAddress'|i18n}}" aria-label="{{'personInfo.button.title.editAddress'|i18n}}"
               tabindex="0">
                <span class="icon-edit-CO"></span>
                <span class="visuallyhidden">{{'personInfo.button.title.editAddress'|i18n}}</span>
            </a>
            <button ng-click="confirmAddressDelete(address)" class="delete-btn"
                    title="{{'personInfo.button.title.deleteAddress'|i18n}}"></button>
        </div>
    </div>
</div>