<!--*******************************************************************************
Copyright 2016 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<div class="row addr-list">
    <notification-box ng-if="isAddressGroupEmpty()" notification-text="{{'personInfo.message.noAddresses'|i18n}}"></notification-box>
    <div ng-repeat="(addrType, addressTimePeriods) in addressGroup">
        <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="address-type-view">
                {{addrType}}
            </div>
            <div class="row">
                <div ng-if="addressGroup[addrType].current.length === 0" class="item-wrapper sm-fix col-sm-12 col-md-12 col-lg-12">
                    {{'personInfo.message.noCurrentAddress'|i18n}}
                </div>
                <div ng-repeat="address in getOrderedAddressesForType(addrType)">
                    <ng-include src="'personalInformationApp/piAddress/piAddress.html'|webAppResourcePath"></ng-include>
                </div>
            </div>
        </div>
    </div>
</div>
