<!--*******************************************************************************
  Copyright 2016-2018 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<div class="modal-flex-cont">
    <div class="modal-unflex">
        <h2 class="pi-modal-title">{{(isCreateNew?'personInfo.title.addAddress':'personInfo.title.editAddress')|i18n}}</h2>
        <button class="close closebtn" ng-click="cancelModal()" title="{{'personInfo.button.title.close'|i18n}}"></button>
        <div class="row pad-dialog-lr">
            <div class="clearfix hidden-xs"></div>
            <div class="col-xs-12 col-md-4 col-lg-4 disp-inherit">
                <label class="input-field-label">{{'personInfo.label.address.type'|i18n}}</label><br>
                <!--<input select-box for-select='{"placeholder": "{{"personInfo.placeholder.addressType"|i18n}}", "action": "PersonalInformationDetails/getAddressTypeList", "model": "address.addressType", "showNA": false, "disableOnUpdate": true}' type="hidden" />-->
                <genssb-xe-dropdown fetch-function="getAddressTypes" model-holder="address" model-name="addressType"
                                    is-disabled="!isCreateNew" dropdown-placeholder="{{'personInfo.placeholder.addressType'|i18n}}">
                </genssb-xe-dropdown>
                <p class="input-field-label mobile-errors" ng-class="[(!!addressTypeErrMsg ? 'field-error error-font-size' : 'no-display')]"
                   role="alert" aria-live="assertive">{{addressTypeErrMsg|i18n}}</p>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4">
                <label class="input-field-label">{{'personInfo.label.validFrom'|i18n}}</label><br>
                <input date-picker ng-model="address.fromDate" pi-input-watcher on-select="setFromDate" ng-blur="validFromFocused=false; removeAddressFieldErrors()"
                       ng-focus="validFromFocused=true" ng-class="[((fromDateErrMsg || dateRangeErrMsg) && !validFromFocused ? 'input-error' : null)]"
                       class="pi-date-input input-colors" placeholder="{{'default.date.format.watermark'|i18n}}" id="addrFromDate" aria-label="{{'personInfo.label.validFrom'|i18n}}"/>
                <p class="input-field-label mobile-errors" ng-class="[(!!fromDateErrMsg ? 'field-error error-font-size' : 'no-display')]"
                   role="alert" aria-live="assertive">{{fromDateErrMsg|i18n}}</p>
                <p class="input-field-label mobile-errors" ng-class="[(!!dateRangeErrMsg ? 'field-error error-font-size' : 'no-display')]"
                   role="alert" aria-live="assertive">{{dateRangeErrMsg}}</p>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4">
                <label class="input-field-label">{{'personInfo.label.validTo'|i18n}}</label><br>
                <input date-picker ng-model="address.toDate" pi-input-watcher on-select="setToDate" ng-blur="validToFocused=false; removeAddressFieldErrors()"
                       ng-focus="validToFocused=true" ng-class="[((toDateErrMsg || dateRangeErrMsg) && !validToFocused ? 'input-error' : null)]"
                       class="pi-date-input text-input-field input-colors" placeholder="{{'default.date.format.watermark'|i18n}}" id="" aria-label="{{'personInfo.label.validTo'|i18n}}"/>
                <p class="input-field-label mobile-errors" ng-class="[(!!toDateErrMsg ? 'field-error error-font-size' : 'no-display')]"
                   role="alert" aria-live="assertive">{{toDateErrMsg|i18n}}</p>
            </div>
            <div class="pi-modal-divider"><div class="hidden-xs"><span></span></div></div>
            <div class="clearfix hidden-xs"></div>
            <div ng-if="maskingRules.displayHouseNumber" class="col-xs-12 col-md-4 col-lg-4">
                <label class="input-field-label" for="houseNumber">{{'personInfo.label.houseNumber'|i18n}}</label><br>
                <input ng-model="address.houseNumber" class="text-input-field gssb-eds-text-field semi-bold form-spacing" type="text" placeholder="{{'personInfo.placeholder.enterHouseNumber'|i18n}}"
                       maxlength="10" id="houseNumber">
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4">
                <label class="input-field-label" for="addrLine1">{{'personInfo.label.addressLine1'|i18n}}</label><br>
                <input ng-model="address.streetLine1" ng-blur="streetLine1Focused=false; removeAddressFieldErrors()" ng-focus="streetLine1Focused=true"
                       ng-class="[(!!streetLine1ErrMsg && !streetLine1Focused ? 'input-field-error' : null)]"
                       class="text-input-field gssb-eds-text-field semi-bold form-spacing" type="text" placeholder="{{'personInfo.placeholder.enterAddressLine1'|i18n}}"
                       maxlength="75" id="addrLine1">
                <p class="input-field-label mobile-errors" ng-class="[(!!streetLine1ErrMsg ? 'field-error error-font-size' : 'no-display')]"
                   role="alert" aria-live="assertive">{{streetLine1ErrMsg|i18n}}</p>
            </div>
            <div class="col-xs-12 col-md-4 col-lg-4">
                <label class="input-field-label" for="addrLine2">{{'personInfo.label.addressLine2'|i18n}}</label><br>
                <input ng-model="address.streetLine2" class="text-input-field gssb-eds-text-field semi-bold form-spacing" type="text" placeholder="{{'personInfo.placeholder.enterAddressLine2'|i18n}}"
                       maxlength="75" id="addrLine2">
            </div>
            <div class="maybe-clear col-xs-12 col-md-4 col-lg-4">
                <label class="input-field-label" for="addrLine3">{{'personInfo.label.addressLine3'|i18n}}</label><br>
                <input ng-model="address.streetLine3" class="text-input-field gssb-eds-text-field semi-bold form-spacing" type="text" placeholder="{{'personInfo.placeholder.enterAddressLine3'|i18n}}"
                       maxlength="75" id="addrLine3">
            </div>
            <div ng-if="maskingRules.displayStreetLine4" class="maybe-clear col-xs-12 col-md-4 col-lg-4">
                <label class="input-field-label" for="addrLine4">{{'personInfo.label.addressLine4'|i18n}}</label><br>
                <input ng-model="address.streetLine4" class="text-input-field gssb-eds-text-field semi-bold form-spacing" type="text" placeholder="{{'personInfo.placeholder.enterAddressLine4'|i18n}}"
                       maxlength="75" id="addrLine4">
            </div>
            <div class="maybe-clear col-xs-12 col-md-4 col-lg-4">
                <label class="input-field-label" for="city">{{'personInfo.label.city'|i18n}}</label><br>
                <input ng-model="address.city" ng-blur="cityFocused=false; removeAddressFieldErrors()" ng-focus="cityFocused=true"
                       ng-class="[(!!cityErrMsg && !cityFocused ? 'input-field-error' : null)]" class="text-input-field gssb-eds-text-field semi-bold form-spacing"
                       type="text" placeholder="{{'personInfo.placeholder.enterCity'|i18n}}" maxlength="50" id="city">
                <p class="input-field-label mobile-errors" ng-class="[(!!cityErrMsg ? 'field-error error-font-size' : 'no-display')]"
                   role="alert" aria-live="assertive">{{cityErrMsg|i18n}}</p>
            </div>
            <div class="maybe-clear sm-fix col-xs-12 col-md-4 col-lg-4">
                <label class="input-field-label">{{'personInfo.label.state'|i18n}}</label><br>
                <!--<input select-box for-select='{"placeholder": "{{"personInfo.placeholder.selectState"|i18n}}", "action": "PersonalInformationDetails/getStateList", "model": "address.state", "showNA": true}' type="hidden" />-->
                <genssb-xe-dropdown fetch-function="getStates" model-holder="address" model-name="state" show-na="true"
                                    dropdown-placeholder="{{'personInfo.placeholder.selectState'|i18n}}">
                </genssb-xe-dropdown>
                <p class="input-field-label mobile-errors" ng-class="[(!!stateErrMsg ? 'field-error error-font-size' : 'no-display')]"
                   role="alert" aria-live="assertive">{{stateErrMsg|i18n}}</p>
            </div>
            <div class="maybe-clear sm-fix col-xs-12 col-md-4 col-lg-4">
                <label class="input-field-label">{{'personInfo.label.county'|i18n}}</label><br>
                <!--<input select-box for-select='{"placeholder": "{{"personInfo.placeholder.selectCounty"|i18n}}", "action": "PersonalInformationDetails/getCountyList", "model": "address.county", "showNA": true}' type="hidden" />-->
                <genssb-xe-dropdown fetch-function="getCounties" model-holder="address" model-name="county" show-na="true"
                                    dropdown-placeholder="{{'personInfo.placeholder.selectCounty'|i18n}}">
                </genssb-xe-dropdown>
            </div>
            <div class="maybe-clear col-xs-12 col-md-4 col-lg-4">
                <label class="input-field-label" for="zip">{{'personInfo.label.zip'|i18n}}</label><br>
                <input ng-model="address.zip" ng-blur="zipFocused=false; removeAddressFieldErrors()" ng-focus="zipFocused=true"
                       ng-class="[(!!zipErrMsg && !zipFocused ? 'input-field-error' : null)]"
                       class="text-input-field gssb-eds-text-field semi-bold form-spacing" type="text" placeholder="{{'personInfo.placeholder.enterZipCode'|i18n}}"
                       maxlength="30" id="zip">
                <p class="input-field-label mobile-errors" ng-class="[(!!zipErrMsg ? 'field-error error-font-size' : 'no-display')]"
                   role="alert" aria-live="assertive">{{zipErrMsg|i18n}}</p>
            </div>
            <div class="maybe-clear sm-fix col-xs-12 col-md-4 col-lg-4">
                <label class="input-field-label">{{'personInfo.label.country'|i18n}}</label><br>
                <!--<input select-box for-select='{"placeholder": "{{"personInfo.placeholder.selectCountry"|i18n}}", "action": "PersonalInformationDetails/getNationList", "model": "address.nation", "showNA": true}' type="hidden" />-->
                <genssb-xe-dropdown fetch-function="getNations" model-holder="address" model-name="nation" show-na="true"
                                    dropdown-placeholder="{{'personInfo.placeholder.selectCountry'|i18n}}">
                </genssb-xe-dropdown>
                <p class="input-field-label mobile-errors" ng-class="[(!!nationErrMsg ? 'field-error error-font-size' : 'no-display')]"
                   role="alert" aria-live="assertive">{{nationErrMsg|i18n}}</p>
            </div>
            <p class="input-field-label mobile-errors response-err" ng-class="[(!!addressErrMsg ? 'field-error error-font-size' : 'no-display')]"
               role="alert" aria-live="assertive">{{addressErrMsg}}</p>
        </div>
        <div id="addressErrorMsgCenter" class="visuallyhidden" tabindex="-1">
            <span>{{addressTypeErrMsg|i18n}}</span>
            <span>{{fromDateErrMsg|i18n}}</span>
            <span>{{dateRangeErrMsg|i18n}}</span>
            <span>{{toDateErrMsg|i18n}}</span>
            <span>{{streetLine1ErrMsg|i18n}}</span>
            <span>{{cityErrMsg|i18n}}</span>
            <span>{{stateErrMsg|i18n}}</span>
            <span>{{zipErrMsg|i18n}}</span>
            <span>{{nationErrMsg|i18n}}</span>
            <span>{{addressErrMsg}}</span>
        </div>
    </div>
    <div class="dialog-footer-margin pi-modal-footer">
        <button ng-click="cancelModal()" ng-class="[(isCreateNew ? 'one-btn-layout' : 'two-btn-layout')]" class="dialog-btn cancel-btn">
            {{'personInfo.label.button.cancel'|i18n}}
        </button>
        <button ng-click="saveAddress()" ng-class="[(isCreateNew ? 'one-btn-layout' : 'two-btn-layout')]" class="dialog-btn save-btn">
            {{(isCreateNew?'personInfo.label.button.add':'personInfo.label.button.update')|i18n}}
        </button>
    </div>
</div>
