<h2 class="pi-modal-title">{{(isCreateNew?'personInfo.title.addAddress':'personInfo.title.updateAddress')|i18n}}</h2>
<button class="close closebtn" ng-click="cancelModal()" title="close"></button>
<div class="row pad-dialog-lr">
    <!--div class="clearfix hidden-xs"></div-->
    <div class="pi-style select2-container col-sm-6 col-md-6 col-lg-4" ng-if="isCreateNew">
        <label class="input-field-label">{{'personInfo.label.address.type'|i18n}}</label><br>
        <input select-box for-select='{"placeholder": "Address Type", "action": "PersonalInformationDetails/getAddressTypeList", "model": "address.addressType"}' type="hidden" />
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4" ng-if="!isCreateNew">
        <label class="input-field-label">{{'personInfo.label.address.type'|i18n}}</label><br>
        {{address.addressType.description}}
    </div>
    <div class="pi-modal-divider visible-xs"><span></span></div>
    <div class="col-sm-6 col-md-6 col-lg-4">
        <label class="input-field-label">{{'personInfo.label.validFrom'|i18n}}</label><br>
        <input ng-model="address.fromDate" class="text-input-field semi-bold form-spacing" placeholder="MM/DD/YYYY">
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4">
        <label class="input-field-label">{{'personInfo.label.validTo'|i18n}}</label><br>
        <input ng-model="address.toDate" class="text-input-field semi-bold form-spacing" placeholder="MM/DD/YYYY">
    </div>
    <div class="pi-modal-divider hidden-xs"><span></span></div>
    <div class="pi-style select2-container col-sm-6 col-md-6 col-lg-4">
        <label class="input-field-label">{{'personInfo.label.country'|i18n}}</label><br>
        <input select-box for-select='{"placeholder": "Nation", "action": "PersonalInformationDetails/getNationList", "model": "address.nation"}' type="hidden" />
    </div>
    <div class="clearfix hidden-xs"></div>
    <div class="col-sm-6 col-md-6 col-lg-4">
        <label class="input-field-label" for="houseNumber">{{'personInfo.label.houseNumber'|i18n}}</label><br>
        <input ng-model="address.houseNumber" class="text-input-field semi-bold form-spacing" type="text" id="houseNumber">
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4">
        <label class="input-field-label" for="addrLine1">{{'personInfo.label.addressLine1'|i18n}}</label><br>
        <input ng-model="address.streetLine1" class="text-input-field semi-bold form-spacing" type="text" id="addrLine1">
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4">
        <label class="input-field-label" for="addrLine2">{{'personInfo.label.addressLine2'|i18n}}</label><br>
        <input ng-model="address.streetLine2" class="text-input-field semi-bold form-spacing" type="text" id="addrLine2">
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4">
        <label class="input-field-label" for="addrLine3">{{'personInfo.label.addressLine3'|i18n}}</label><br>
        <input ng-model="address.streetLine3" class="text-input-field semi-bold form-spacing" type="text" id="addrLine3">
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4">
        <label class="input-field-label" for="addrLine4">{{'personInfo.label.addressLine4'|i18n}}</label><br>
        <input ng-model="address.streetLine4" class="text-input-field semi-bold form-spacing" type="text" id="addrLine4">
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4">
        <label class="input-field-label" for="city">{{'personInfo.label.city'|i18n}}</label><br>
        <input ng-model="address.city" class="text-input-field semi-bold form-spacing" type="text" id="city">
    </div>
    <div class="pi-style select2-container col-sm-6 col-md-6 col-lg-4">
        <label class="input-field-label">{{'personInfo.label.state'|i18n}}</label><br>
        <input select-box for-select='{"placeholder": "State", "action": "PersonalInformationDetails/getStateList", "model": "address.state"}' type="hidden" />
    </div>
    <div class="pi-style select2-container col-sm-6 col-md-6 col-lg-4">
        <label class="input-field-label">{{'personInfo.label.county'|i18n}}</label><br>
        <input select-box for-select='{"placeholder": "County", "action": "PersonalInformationDetails/getCountyList", "model": "address.county"}' type="hidden" />
    </div>
    <div class="col-sm-6 col-md-6 col-lg-4">
        <label class="input-field-label" for="zip">{{'personInfo.label.zip'|i18n}}</label><br>
        <input ng-model="address.zip" class="text-input-field semi-bold form-spacing" type="text" id="zip">
    </div>
</div>
<div class="dialog-footer-margin modal-footer addAddr">
    <button class="dialog-btn" ng-click="cancelModal()">{{'personInfo.label.button.cancel'|i18n}}</button>
    <button class="dialog-btn save-btn" ng-click="saveAddress()">
        <span class="mid-dash">{{(isCreateNew?'personInfo.label.button.save':'personInfo.label.button.update')|i18n}}</span>
    </button>
</div>