<!--*******************************************************************************
Copyright 2016 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<div xe-section="tab2Section">
    <h3>{{'personInfo.title.address'|i18n}}</h3>
    <div class="clearfix">
        <div ng-repeat="(addrType, addressTimePeriods) in addressGroup">
            <div class="address-type-view">
                {{addrType}}
            </div>
            <div ng-repeat="(period, addresses) in addressTimePeriods">
                <div ng-repeat="address in addresses">
                    <person-pre-edit-address></person-pre-edit-address>
                </div>
            </div>
        </div>
        <a ng-click="openEditAddressModal()">Add an Address</a>
    </div>
</div>

