<!--*******************************************************************************
Copyright 2016 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<div class="clearfix addr-list">
    <div ng-repeat="(addrType, addressTimePeriods) in addressGroup">
        <div class="address-type-view">
            {{addrType}}
        </div>
        <div class="row">
            <div ng-repeat="address in getOrderedAddressesForType(addrType)" class="col-sm-12 col-md-6 col-lg-6">
                <person-view-address></person-view-address>
            </div>
        </div>
    </div>
</div>
