<!--*******************************************************************************
Copyright 2016 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->

<div class="clearfix">
    <div class="details-section-heading">
        {{'personInfo.title.address'|i18n}}
    </div>
    <div class="details-section-edit">
        <a class="details-section-edit-link" ui-sref="piPreEditAddressView"><span class="icon-edit"></span></a>
    </div>
</div>

<div class="clearfix">
    <div ng-repeat="(addrType, addressTimePeriods) in addressGroup">
        <div class="address-type-view">
            {{addrType}}
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6" ng-repeat="address in getOrderedAddressesForType(addrType)">
                <person-view-address address="address"></person-view-address>
            </div>
        </div>
    </div>
</div>