<!--*******************************************************************************
Copyright 2016 Ellucian Company L.P. and its affiliates.
********************************************************************************-->

<div class="address-wrapper sm-fix">
    <div class="address-detail" id="{{address.addressType.description}}-address">
        <div>
            {{(address.isFuture ? 'personInfo.label.future' : 'personInfo.label.current')|i18n}}
        </div>
        <div class="clearfix">
            <div class="address-date-range">
                {{address.fromDate}}&nbsp;-&nbsp;
            </div>
            <div class="address-date-range" ng-if="address.toDate">
                {{address.toDate}}
            </div>
            <div class="address-date-range" ng-if="!address.toDate">
                ({{'personInfo.no.end.date'|i18n}})
            </div>
        </div>
        <div ng-if="address.displayAddress.addressLine1">
            {{address.displayAddress.addressLine1}}
        </div>
        <div ng-if="address.displayAddress.addressLine2">
            {{address.displayAddress.addressLine2}}
        </div>
        <div ng-if="address.displayAddress.addressLine3">
            {{address.displayAddress.addressLine3}}
        </div>
        <div ng-if="address.displayAddress.addressLine4">
            {{address.displayAddress.addressLine4}}
        </div>
        <div ng-if="address.displayAddress.addressLine5">
            {{address.displayAddress.addressLine5}}
        </div>
        <div ng-if="address.displayAddress.addressLine6">
            {{address.displayAddress.addressLine6}}
        </div>
        <div ng-if="address.displayAddress.addressLine7">
            {{address.displayAddress.addressLine7}}
        </div>
        <div ng-if="address.displayAddress.addressLine8">
            {{address.displayAddress.addressLine8}}
        </div>
        <div>
            <a ng-click="openEditAddressModal(address)" class="pi-link addr-change">{{'personInfo.label.update'|i18n}}</a>
            <a ng-click="confirmAddressDelete(address)" class="pi-link addr-delete">{{'personInfo.label.delete'|i18n}}</a>
        </div>
    </div>
</div>