<!--*******************************************************************************
Copyright 2016 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<div class="overview-wrapper">
    <ng-include src="'personalInformationApp/piMain/piOverviewPicture.html'|webAppResourcePath"></ng-include>
    <div class="overview-name">
        {{preferredName}}
    </div>
    <div class="overview-line">
        <span class="id-label">{{'personInfo.label.id.number'|i18n}}</span>{{bannerId}}
    </div>
    <div class="pi-overview-divider"><span></span></div>
    <div class="clearfix overview-divider-spacer"></div>
    <div ng-if="preferredEmail.emailAddress" class="overview-line">
        <a class="pi-overview-link" href="mailto:{{preferredEmail.emailAddress}}"><span class="icon-email-CO pi-icon"></span><span class="email-link pi-link">{{preferredEmail.emailAddress}}</span></a>
    </div>
    <div ng-if="addressForOverview" class="overview-line">
        <span class="icon-location-CO pi-icon"></span>{{addressForOverview}}
    </div>
    <div ng-if="phoneForOverview" class="overview-line">
        <div class="phone-icon"></div>{{phoneForOverview}}
    </div>
    <div class="overview-footer">
        <a ui-sref="piFullViewMobile">{{'personInfo.label.viewFullProfile'|i18n}}</a>
    </div>
</div>