<!--*******************************************************************************
Copyright 2016 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<xe-tab-nav>
    <xe-tab-panel heading="{{'personInfo.title.emails'|i18n}}" set-starting-tab="email">
        <div class="pad-top">
            <ng-include src="'personalInformationApp/piEmail/piViewEmail.html'|webAppResourcePath"></ng-include>
        </div>
        <div class="add-addr-footer">
            <a ng-click="openEditAddressModal()" class="add-item-link pi-style" tabindex="0">
                <span>{{'personInfo.title.addAddress'|i18n}}</span><span class="icon-add-CO"></span>
            </a>
        </div>
    </xe-tab-panel>
    <xe-tab-panel heading="Phone Numbers" set-starting-tab="phoneNumber">
        <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </div>
    </xe-tab-panel>
    <xe-tab-panel heading="{{'personInfo.title.addresses'|i18n}}" set-starting-tab="address">
        <h4 class="pre-edit-title pad-left-right">{{'personInfo.title.address'|i18n}}</h4>
        <person-pre-edit-address-list></person-pre-edit-address-list>
        <div class="add-addr-footer">
            <a ng-click="openEditAddressModal()" class="add-item-link pi-style" tabindex="0">
                <span>{{'personInfo.title.addAddress'|i18n}}</span><span class="icon-add-CO"></span>
            </a>
        </div>
    </xe-tab-panel>
    <xe-tab-panel heading="Additional Details" set-starting-tab="addtionalDetail">
        <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </div>
    </xe-tab-panel>
    <xe-tab-panel heading="heading4">
        <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </div>
    </xe-tab-panel>
    <xe-tab-panel heading="heading5">
        <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </div>
    </xe-tab-panel>
    <xe-tab-panel heading="heading6">
        <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </div>
    </xe-tab-panel>
</xe-tab-nav>
