<!--*******************************************************************************
Copyright 2017 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<div class="overview-wrapper">
    <ng-include ng-if="piConfig.isProfilePicDisplayable" src="'personalInformationApp/piMain/piOverviewPicture.html'|webAppResourcePath"></ng-include>
    <div class="overview-name break-long-words">
        {{preferredName}}
    </div>
    <div class="overview-line">
        <span class="id-label">{{'personInfo.label.id.number'|i18n}}</span>{{bannerId}}
    </div>
    <div class="pi-overview-divider"><span></span></div>
    <div class="clearfix overview-divider-spacer"></div>
    <div ng-if="preferredEmail.emailAddress && piConfig.isOverviewEmailDisplayable" class="overview-line email">
        <span class="pi-overview-link">
            <div class="pi-icon-align"><span class="icon-email-CO pi-icon"></span></div>
            <span class="email-text" dir="ltr">{{preferredEmail.emailAddress}}</span>
        </span>
    </div>
    <div ng-if="addressForOverview && piConfig.isOverviewAddressDisplayable" class="overview-line addr">
        <div class="pi-icon-align"><span class="icon-location-CO pi-icon"></span></div>
        <span class="addr-text">{{addressForOverview}}</span>
    </div>
    <div ng-if="phoneForOverview && piConfig.isOverviewPhoneDisplayable" class="overview-line">
        <div class="phone-icon"></div>{{phoneForOverview}}
    </div>
    <div class="overview-footer">
        <a ui-sref="piFullViewMobile">{{'personInfo.label.viewFullProfile'|i18n}}</a>
    </div>
</div>