<!--*******************************************************************************
Copyright 2016 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<div class="view-list">
    <div class="row">
        <div class="item-wrapper break-long-words col-xs-12 col-md-6 col-lg-4">
            <div class="addtl-details-detail">
                <div class="semi-bold">
                    {{'personInfo.label.firstName'|i18n}}
                </div>
                <div>
                    <div>{{(!userName.firstName ? '-' : userName.firstName)}}</div>
                </div>
            </div>
        </div>
        <div class="item-wrapper break-long-words sm-fix col-sm-12 col-md-6 col-lg-4">
            <div class="addtl-details-detail">
                <div class="semi-bold">
                    {{'personInfo.label.middleName'|i18n}}
                </div>
                <div>
                    <div>{{(!userName.middleName ? '-' : userName.middleName)}}</div>
                </div>
            </div>
        </div>
        <div class="item-wrapper break-long-words sm-fix col-sm-12 col-md-6 col-lg-4">
            <div class="addtl-details-detail">
                <div class="semi-bold">
                    {{'personInfo.label.lastName'|i18n}}
                </div>
                <div>
                    <div>{{(!userName.lastName ? '-' : userName.lastName)}}</div>
                </div>
            </div>
        </div>
        <div class="item-wrapper sm-fix col-sm-12 col-md-6 col-lg-4">
            <div class="addtl-details-detail">
                <div class="semi-bold">
                    {{'personInfo.label.dateOfBirth'|i18n}}
                </div>
                <div>
                    <div>{{(!personalDetails.birthDate ? '-' : stringToDate(personalDetails.birthDate)|date:'longDate')}}</div>
                </div>
            </div>
        </div>
        <div ng-if="isFieldViewable(piConfig.maritalStatusMode)" class="item-wrapper break-long-words sm-fix col-sm-12 col-md-6 col-lg-4">
            <div class="addtl-details-detail">
                <div class="semi-bold">
                    {{'personInfo.label.maritalStatus'|i18n}}
                </div>
                <div>
                    <div ng-bind-html= "!personalDetails.maritalStatus.description ? '-' : personalDetails.maritalStatus.description"></div>
                </div>
            </div>
        </div>
        <div ng-if="isFieldViewable(piConfig.legalSexMode)" class="item-wrapper sm-fix col-sm-12 col-md-6 col-lg-4">
            <div class="addtl-details-detail">
                <div class="semi-bold">
                    {{'personInfo.label.legalSex'|i18n}}
                </div>
                <div>
                    <div>{{sexDescription|i18n}}</div>
                </div>
            </div>
        </div>
        <div class="item-wrapper break-long-words sm-fix col-sm-12 col-md-6 col-lg-4">
            <div class="addtl-details-detail">
                <div class="semi-bold">
                    {{'personInfo.label.preferredFirstName'|i18n}}
                </div>
                <div>
                    <div>{{(!personalDetails.preferenceFirstName ? '-' : personalDetails.preferenceFirstName)}}</div>
                </div>
            </div>
        </div>
        <div ng-if="isFieldViewable(piConfig.personalPronounMode)" class="item-wrapper break-long-words sm-fix col-sm-12 col-md-6 col-lg-4">
            <div class="addtl-details-detail">
                <div class="semi-bold">
                    {{'personInfo.label.personalPronoun'|i18n}}
                </div>
                <div>
                    <div>{{!personalDetails.pronoun.description ? '-' : personalDetails.pronoun.description}}</div>
                </div>
            </div>
        </div>
        <div ng-if="isFieldViewable(piConfig.genderIdentificationMode)" class="item-wrapper break-long-words sm-fix col-sm-12 col-md-6 col-lg-4">
            <div class="addtl-details-detail">
                <div class="semi-bold">
                    {{'personInfo.label.genderIdentification'|i18n}}
                </div>
                <div>
                    <div>{{!personalDetails.gender.description ? '-' : personalDetails.gender.description}}</div>
                </div>
            </div>
        </div>
    </div>
</div>
