<!--******************************************************************************
Copyright 2016 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<div class="modal-flex-cont">
    <div class="modal-unflex">
        <h2 class="pi-modal-title">{{'personInfo.title.editVeteran'|i18n}}</h2>
        <button class="close closebtn" ng-click="cancelModal()" title="{{'personInfo.button.title.close'|i18n}}"></button>
        <div class="pad-dialog-lr">
            <div ng-class="[(isVeteranTextClipped ? 'clip-vet-text' : null)]" class="pad-wordy-modal">
                <h3 class="pi-modal-title veterans-title">{{'personinfo.veteran.classification.title'|i18n}}</h3>
                <p>{{'personinfo.veteran.classification.detail'|i18n}}
                    {{'personinfo.veteran.classification.types.title'|i18n}}</p>
                <ul>
                    <li>{{'personinfo.veteran.classification.types.description'|i18n}}</li>
                    <ul>
                        <li>{{'personinfo.veteran.classification.disable.type.1'|i18n}}</li>
                        <li>{{'personinfo.veteran.classification.disable.type.2'|i18n}}</li>
                    </ul>
                    <li>{{'personinfo.veteran.classification.separated.type'|i18n}}</li>
                    <li>{{'personinfo.veteran.classification.activeduty.type'|i18n}}</li>
                    <li>{{'personinfo.veteran.classification.servicemedal.type'|i18n}}</li>
                </ul>
                <p>{{'personinfo.veteran.classification.additionalinfo.1'|i18n}}
                    {{'personinfo.veteran.classification.additionalinfo.2'|i18n}}
                    {{'personinfo.veteran.classification.additionalinfo.3'|i18n}}</p>
                <label class="input-field-label pi-accom-notice">{{'personinfo.reasonable.accomodation.notice.title'|i18n}}</label>
                <p>{{'personinfo.veteran.classification.notice.detail.1'|i18n}}</p>
                <p>{{'personinfo.veteran.classification.notice.detail.2'|i18n}}</p>
                <p>{{'personinfo.veteran.classification.notice.detail.3'|i18n}}</p>
                <p>{{'personinfo.veteran.classification.notice.detail.4'|i18n}}</p>
            </div>
            <div class="pad-wordy-modal">
                <a ng-click="toggleVeteranTextVisibility()" enter-key="toggleVeteranTextVisibility()" class="toggle-vet pi-link" tabindex="0">
                    {{(isVeteranTextClipped ? 'personinfo.disability.viewMore' : 'personinfo.disability.viewLess')|i18n}}
                </a><br>
                <input ng-model="veteranClassInfo.choice" class="edit-radio" type="radio" name="veteran-category" value="{{vetConsts.PROTECTED_VET}}"
                       id="o-radio-lbl">
                <label class="lbl radio-list pi-fix" for="o-radio-lbl">{{'personinfo.veteran.classification.first'|i18n}}</label>
                <br>
                <div class="pad-vet-class">
                    <p>{{'personinfo.veteran.classification.separated.note'|i18n}}</p>
                    <div class="vet-date-input">
                        <label ng-class="(seprDateErrMsg && !seprDateFocused ? 'field-error' : '')" for="seprDate">
                            {{'personinfo.veteran.classification.date.discharge.label'|i18n}}
                        </label>
                        <input date-picker ng-model="veteranClassInfo.activeDutySeprDate" on-select="setSeprDate" ng-blur="seprDateFocused=false; removeVeteranErrors()"
                               ng-focus="seprDateFocused=true" ng-class="[(seprDateErrMsg && !seprDateFocused ? 'input-error' : null)]"
                               class="pi-date-input input-colors" placeholder="{{'personInfo.placeholder.datePicker'|i18n}}" id="seprDate"
                               aria-label="{{'personinfo.veteran.classification.date.discharge.label'|i18n}}"/>
                    </div>
                    <p class="mobile-errors" ng-class="[(!!seprDateErrMsg ? 'field-error error-font-size' : 'no-display')]"
                       role="alert" aria-live="assertive">{{seprDateErrMsg|i18n}}</p>
                    <input ng-model="veteranClassInfo.sdvetIndicator" class="main-nav-check" type="checkbox" id="dis-checkbx-lbl">
                    <label class="lbl radio-list pi-fix" for="dis-checkbx-lbl">{{'personinfo.veteran.classification.disabled.veteran'|i18n}}</label>
                    <br>
                    <input ng-model="veteranClassInfo.badgeVeteran" class="main-nav-check" type="checkbox" id="act-checkbx-lbl">
                    <label class="lbl radio-list pi-fix" for="act-checkbx-lbl">{{'personinfo.veteran.classification.active.veteran'|i18n}}</label>
                    <br>
                    <input ng-model="veteranClassInfo.armedServiceMedalVetIndicator" class="main-nav-check" type="checkbox"
                           id="med-checkbx-lbl">
                    <label class="lbl radio-list pi-fix" for="med-checkbx-lbl">{{'personinfo.veteran.classification.medal.veteran'|i18n}}</label>
                    <br>
                </div>
                <input ng-model="veteranClassInfo.choice" class="edit-radio" type="radio" name="veteran-category" value="{{vetConsts.PROTECTED_VET_UNCLASSIFIED}}"
                       id="b-radio-lbl">
                <label class="lbl radio-list pi-fix" for="b-radio-lbl">{{'personinfo.veteran.classification.second'|i18n}}</label>
                <br>
                <input ng-model="veteranClassInfo.choice" class="edit-radio" type="radio" name="veteran-category" value="{{vetConsts.UNPROTECTED_VET}}"
                       id="v-radio-lbl">
                <label class="lbl radio-list pi-fix" for="v-radio-lbl">{{'personinfo.veteran.classification.third'|i18n}}</label>
                <br>
                <input ng-model="veteranClassInfo.choice" class="edit-radio" type="radio" name="veteran-category" value="{{vetConsts.NOT_A_VET}}"
                       id="na-radio-lbl">
                <label class="lbl radio-list pi-fix" for="na-radio-lbl">{{'personinfo.veteran.classification.fourth'|i18n}}</label>
                <br>
                <p class="mobile-errors" ng-class="[(!!veteranErrMsg ? 'field-error error-font-size' : 'no-display')]"
                   role="alert" aria-live="assertive">{{veteranErrMsg|i18n}}</p>
                <p class="mobile-errors" ng-class="[(!!veteranUpdateErrMsg ? 'field-error error-font-size' : 'no-display')]"
                   role="alert" aria-live="assertive">{{veteranUpdateErrMsg}}</p>
                <div id="veteransErrorMsgCenter" class="visuallyhidden" tabindex="-1">
                    <span>{{seprDateErrMsg|i18n}}</span>
                    <span>{{veteranErrMsg|i18n}}</span>
                    <span>{{veteranUpdateErrMsg}}</span>
                </div>
            </div>
        </div>
        <div class="dialog-footer-margin pi-modal-footer">
            <button ng-click="cancelModal()" class="dialog-btn cancel-btn two-btn-layout">
                {{'personInfo.label.button.cancel'|i18n}}
            </button>
            <button ng-click="saveVeteranClassification()" class="dialog-btn save-btn two-btn-layout">
                {{'personInfo.label.button.update'|i18n}}
            </button>
        </div>
    </div>
</div>