<!--******************************************************************************
Copyright 2017 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<div class="modal-flex-cont">
    <div class="modal-unflex">
        <h2 class="pi-modal-title">{{'personInfo.title.securityQuestionAnswer'|i18n}}</h2>
        <button class="close closebtn" ng-click="cancelModal()" title="{{'personInfo.button.title.close'|i18n}}"></button>
        <div class="row pad-dialog-lr">
            <div class="clearfix hidden-xs"></div>
            <div class="col-sm-5 col-md-5 col-lg-5">
                <label class="input-field-label" for="pinput">{{'personInfo.label.confirmPin'|i18n}}</label><br>
                <input ng-model="pin" ng-blur="pinFocused=false; removePinFieldError()" ng-focus="pinFocused=true"
                       ng-class="[(!!pinErrMsg && !pinFocused ? 'input-field-error' : null)]"
                       class="text-input-field gssb-eds-text-field semi-bold form-spacing" type="password" maxlength="300" id="pinput">
                <p class="input-field-label mobile-errors" ng-class="[(!!pinErrMsg ? 'field-error error-font-size' : 'no-display')]"
                   role="alert" aria-live="assertive">{{pinErrMsg}}</p>
            </div>
            <div class="clearfix hidden-xs"></div>
            <div ng-repeat="question in questions" class="clear-both">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <ng-include src="'personalInformationApp/piOther/piSecurityQuestionInput.html'|webAppResourcePath"></ng-include>
                </div>
            </div>
            <p class="input-field-label mobile-errors response-err" ng-class="[(!!questionAnswerErrMsg ? 'field-error error-font-size' : 'no-display')]"
               role="alert" aria-live="assertive">{{questionAnswerErrMsg}}</p>
        </div>
        <div id="securityQAErrorMsgCenter" class="visuallyhidden" tabindex="-1">
            <span>{{pinErrMsg}}</span>
            <span>{{questionAnswerErrMsg}}</span>
        </div>
    </div>
    <div class="dialog-footer-margin pi-modal-footer">
        <button ng-click="cancelModal()" ng-class="[(isCreateNew ? 'one-btn-layout' : 'two-btn-layout')]" class="dialog-btn cancel-btn">
            {{'personInfo.label.button.cancel'|i18n}}
        </button>
        <button ng-click="saveQuestions()" ng-class="[(isCreateNew ? 'one-btn-layout' : 'two-btn-layout')]" class="dialog-btn save-btn">
            {{(isCreateNew?'personInfo.label.button.add':'personInfo.label.button.update')|i18n}}
        </button>
    </div>
</div>