<!--*******************************************************************************
Copyright 2017 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<div class="row other-links">
    <div ng-if="piConfig.isDirectoryProfileDisplayable" class="item-wrapper col-xs-12 col-md-6 col-lg-4">
        <a  ng-click="openEditDisplayProfileModal()" enter-key="openEditDisplayProfileModal()" class="pi-link" tabindex="0">
            {{'personInfo.label.directoryProfile'|i18n}}
        </a>
    </div>
    <div ng-if="piConfig.isSecurityQandADisplayable" class="item-wrapper col-xs-12 col-md-6 col-lg-4">
        <a ng-click="openSecurityQAModal()" enter-key="openSecurityQAModal()" class="pi-link" tabindex="0">
            {{'personInfo.label.securityQuestionsAndAnswers'|i18n}}
        </a>
    </div>
    <div ng-if="piConfig.isPasswordChangeDisplayable" class="item-wrapper col-xs-12 col-md-6 col-lg-4">
        <a  ng-click="resetPassword()" enter-key="resetPassword()" class="pi-link" tabindex="0">
            {{'personInfo.label.changePassword'|i18n}}
        </a>
    </div>
</div>