<!--*******************************************************************************
Copyright 2017 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<div class="row other-links">
    <div ng-if="piConfig.isDirectoryProfileDisplayable"class="item-wrapper col-xs-12 col-md-6 col-lg-4">
        <a  ng-click="openEditDisplayProfileModal()" enter-key="openEditDisplayProfileModal()" class="pi-link">{{'personInfo.label.directoryProfile'|i18n}}</a>
    </div>
    <div class="item-wrapper col-xs-12 col-md-6 col-lg-4">
        <a href="TODO" class="pi-link">{{'personInfo.label.securityQuestionsAndAnswers'|i18n}}</a>
    </div>
    <div class="item-wrapper col-xs-12 col-md-6 col-lg-4">
        <a  ng-click="resetPassword()" enter-key="resetPassword()" class="pi-link">{{'personInfo.label.changePassword'|i18n}}</a>
    </div>
</div>