<!--*******************************************************************************
Copyright 2016 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<div hide-popover class="pi-desktop-contents">
    <div class="details-section overview">
        <ng-include src="'personalInformationApp/piMain/piDesktopOverview.html'|webAppResourcePath"></ng-include>
    </div>
    <div class="details-wrapper">
        <div ng-if="piConfig.personalDetailsSectionMode !== SECTION_HIDDEN" class="details-section">
            <div class="clearfix">
                <div class="details-section-heading">
                    <h2>{{'personInfo.title.personalDetails'|i18n}}</h2>
                    <div class="pi-title-divider"><span></span></div>
                </div>
                <!-- TODO: update with proper config code when available -->
                <div ng-if="piConfig.personalDetailsSectionMode === SECTION_UPDATEABLE" class="details-section-edit">
                    <a ng-click="openEditPersonalDetailsModal()" enter-key="openEditPersonalDetailsModal()" class="add-item-link" tabindex="0">
                        <span class="icon-edit-CO"></span> <span>{{'personInfo.label.edit'|i18n}}</span>
                    </a>
                </div>
            </div>
            <ng-include src="'personalInformationApp/piPersonalDetails/piViewPersonalDetails.html'|webAppResourcePath"></ng-include>
        </div>
        <div ng-if="piConfig.emailSectionMode !== SECTION_HIDDEN" class="details-section">
            <div class="clearfix">
                <div class="details-section-heading">
                    <h2>{{'personInfo.title.email'|i18n}}</h2>
                    <div class="pi-title-divider"><span></span></div>
                </div>
                <div ng-if="piConfig.emailSectionMode === SECTION_UPDATEABLE" class="details-section-edit">
                    <a ng-click="openEditEmailModal()" enter-key="openEditEmailModal()" class="add-item-link" tabindex="0">
                        <span class="icon-add-CO"></span> <span>{{'personInfo.label.addNew'|i18n}}</span>
                    </a>
                </div>
            </div>
            <ng-include src="'personalInformationApp/piEmail/piViewEmail.html'|webAppResourcePath"></ng-include>
        </div>
        <div ng-if="piConfig.telephoneSectionMode !== SECTION_HIDDEN" class="details-section">
            <div class="clearfix">
                <div class="details-section-heading">
                    <h2>{{'personInfo.title.phoneNumber'|i18n}}</h2>
                    <div class="pi-title-divider"><span></span></div>
                </div>
                <div ng-if="piConfig.telephoneSectionMode === SECTION_UPDATEABLE" class="details-section-edit">
                    <a ng-click="openEditPhoneModal()" enter-key="openEditPhoneModal()" class="add-item-link" tabindex="0">
                        <span class="icon-add-CO"></span> <span>{{'personInfo.label.addNew'|i18n}}</span>
                    </a>
                </div>
            </div>
            <ng-include src="'personalInformationApp/piPhone/piPhoneList.html'|webAppResourcePath"></ng-include>
        </div>
        <div ng-if="piConfig.addressSectionMode !== SECTION_HIDDEN" class="details-section">
            <div class="clearfix">
                <div class="details-section-heading">
                    <h2>{{'personInfo.title.address'|i18n}}</h2>
                    <div class="pi-title-divider"><span></span></div>
                </div>
                <div ng-if="piConfig.addressSectionMode === SECTION_UPDATEABLE" class="details-section-edit">
                    <a ng-click="openEditAddressModal()" enter-key="openEditAddressModal()" class="add-item-link" tabindex="0">
                        <span class="icon-add-CO"></span> <span>{{'personInfo.label.addNew'|i18n}}</span>
                    </a>
                </div>
            </div>
            <ng-include src="'personalInformationApp/piAddress/piAddressList.html'|webAppResourcePath"></ng-include>
        </div>
        <div ng-if="piConfig.emergencyContactSectionMode !== SECTION_HIDDEN" class="details-section">
            <div class="clearfix">
                <div class="details-section-heading">
                    <h2>{{'personInfo.title.emergencyContact'|i18n}}</h2>
                    <div class="pi-title-divider"><span></span></div>
                </div>
                <div ng-if="piConfig.emergencyContactSectionMode === SECTION_UPDATEABLE" class="details-section-edit">
                    <a ng-if="!hasMaxEmergencyContacts" ng-click="openEditEmergencyContactModal()" enter-key="openEditEmergencyContactModal()" class="add-item-link" tabindex="0">
                        <span class="icon-add-CO"></span> <span>{{'personInfo.label.addNew'|i18n}}</span>
                    </a>
                    <a ng-if="hasMaxEmergencyContacts" pi-pop-over popover-msg="personInfo.message.maxEmergencyContacts" popover-position="left" popover-width="220px"
                       enter-key="togglePopover()" class="add-item-link disabled" aria-disabled="true" tabindex="0">
                        <span class="icon-add-CO"></span> <span>{{'personInfo.label.addNew'|i18n}}</span>
                    </a>

                </div>
            </div>
            <ng-include src="'personalInformationApp/piEmergencyContact/piEmergencyContactList.html'|webAppResourcePath"></ng-include>
        </div>
        <div ng-if="piConfig.additionalDetailsSectionMode !== SECTION_HIDDEN" class="details-section">
            <div class="clearfix">
                <div class="details-section-heading">
                    <h2>{{'personInfo.title.additionalDetails'|i18n}}</h2>
                    <div class="pi-title-divider"><span></span></div>
                </div>
            </div>
            <ng-include src="'personalInformationApp/piAdditionalDetails/piViewAdditionalDetails.html'|webAppResourcePath"></ng-include>
        </div>
        <div ng-if="piConfig.otherSectionMode" class="details-section">
            <div class="clearfix">
                <div class="details-section-heading">
                    <h2>{{'personInfo.title.other'|i18n}}</h2>
                    <div class="pi-title-divider"><span></span></div>
                </div>
            </div>
            <ng-include src="'personalInformationApp/piOther/piOther.html'|webAppResourcePath"></ng-include>
        </div>
    </div>
</div>
