
/* main.css */

body  {
    color: #333333;
}

p, li  {
    color: $themecolor2-3; /*#4F585F*/
}

#signOut  {
    background-color: #FFFFFF;
}

.panel.panel-accordion  {
    background-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
}

.panel-accordion .panel-heading  {
    background-color: #F2F2F2;
}

.panel-accordion .panel-title > a:after  {
    color: #808080;
}

.panel-accordion .panel-heading > a.collapsed  {
    background-color: #F2F2F2;
}

.panel-accordion .panel-title > a.collapsed:after  {
    color: #808080;
}

.panel-accordion .panel-body  {
    background-color: #FFFFFF;
}

.pi-desktop-contents  {
    background-color: $themecolor2-5; /*#EFF4F8*/
}

.dd-notification-content  {
    border-color: #CCCCCC;
    background-color: $themecolor2-5; /*#fffeea*/
}

.pi-comment  {
    color: #7E858B;
}

a.pi-icon-link,
a.pi-icon-link:hover,
a.pi-icon-link:focus  {
    color: $themecolor1; /*#206E9F*/
}

.pi-footer  {
    background-color: #FFFFFF;
}

.overview-footer  {
    background-color: $themecolor1; /*#206E9F*/
}

.overview-footer a  {
    color: #FFFFFF;
}


.select2-results .select2-highlighted  {
    background-color: $themecolor1-3 !important; /*#3875d7*/
}

.add-item-footer  {
    border-top-color: #000000;
}

a.add-item-link  {
    color: $themecolor1; /*#206E9F*/
}

.add-item-link.disabled  {
    color: #A0A3A4;
}

.pi-link  {
    color: $themecolor1; /*#206E9F*/
}

.pi-overview-link,
.pi-overview-link:hover,
.pi-overview-link:focus  {
    color: $themecolor1; /*#206E9F*/
}

.pi-overview-link > .email-text  {
    color: #333333;
}

.input-colors + span  {
    color: $themecolor1-3; /*#869FB1*/
}

.input-colors + span:hover,
.input-colors.input-error + span:hover  {
    color: $themecolor1; /*#206E9F*/
}

.input-colors:focus + span  {
    color: $themecolor1; /*#206E9F*/
}

.input-colors + span:disabled  {
    color: #C2CFD8;
}

.input-colors.input-error + span  {
    color: #CD3B3E;
}

.input-colors.input-error:focus + span  {
    color: $themecolor1; /*#206E9F*/
}

.pi-modal-divider > div > span  {
    border-bottom-color: #BEC5CB;
}

.input-field-label  {
    color: #283036;
}

.field-error  {
    color: #CD3B3E;
}

.text-input-field  {
    background-color: #FFFFFF;
    border-color: $themecolor1-3; /*#869FB1*/
    color: $themecolor1-3; /*#869FB1*/
}

input.hasMultiCalendarPicker.pi-date-input  {
    background-color: #FFFFFF;
    border-color: $themecolor1-3; /*#869FB1*/
    color: $themecolor1-3; /*#869FB1*/
}

.text-input-field::-webkit-input-placeholder,
.pi-date-input::-webkit-input-placeholder  {
    color: $themecolor1-3; /*#869FB1*/
}
.text-input-field:-moz-placeholder,
.pi-date-input:-moz-placeholder  {
    color: $themecolor1-3; /*#869FB1*/
}
.text-input-field::-moz-placeholder,
.pi-date-input::-moz-placeholder  {
    color: $themecolor1-3; /*#869FB1*/
}
.text-input-field:-ms-input-placeholder,
.pi-date-input:-ms-input-placeholder  {
    color: $themecolor1-3; /*#869FB1*/
}

.dropdown .input-field-error,
.input-field-error,
.radio-txt-input.input-field-error,
input.hasMultiCalendarPicker.pi-date-input.input-error  {
    background-color: #F6E5E6;
    border-color: #CD3B3E;
    color: #CD3B3E;
}

.input-field-error::-webkit-input-placeholder,
.pi-date-input.input-error::-webkit-input-placeholder  {
    color: #CD3B3E;
}
.input-field-error:-moz-placeholder,
.pi-date-input.input-error:-moz-placeholder  {
    color: #CD3B3E;
}
.input-field-error::-moz-placeholder,
.pi-date-input.input-error::-moz-placeholder  {
    color: #CD3B3E;
}
.input-field-error:-ms-input-placeholder,
.pi-date-input.input-error:-ms-input-placeholder  {
    color: #CD3B3E;
}

.input-fail  {
    background-color: #F6E5E6;
}

.text-input-field:focus,
input.hasMultiCalendarPicker.pi-date-input:focus,
.radio-txt-input:focus  {
    border-color: $themecolor1; /*#206E9F*/
    color: $themecolor2-3; /*#4F585F*/
}

button.closebtn  {
    color: $themecolor2-3; /*#4f585f*/
}

.dialog-btn  {
    background-color: #FFFFFF;
    color: $themecolor1; /*#206E9F*/
}

.cancel-btn  {
    border-top-color: $themecolor1-3; /*#869FB1*/
}

.save-btn  {
    border-top-color: $themecolor1; /*#206E9F*/
    background-color: $themecolor1; /*#206E9F*/
    color: #FFFFFF;
}

.save-btn[disabled]  {
    color: $themecolor1-3; /*#869FB1*/
}

.buttons-desktop-save .save-btn  {
    color: #FFFFFF;
    background-color: $themecolor1-4; /*#428bca*/
    border-color: $themecolor1-3; /*#357ebd*/
}

.buttons-desktop-save .save-btn[disabled]  {
    color: #C6DFF1;
}

.mid-dash  {
    border-left-color: #000000;
}

.text-input-field:disabled  {
    background-color: #F1F4F6;
}

.overview-line.addr > .pi-icon-align  {
    color: $themecolor1; /*#206E9F*/
}

.details-section  {
    border-bottom-color: #DDDDDD;
    background-color: #FFFFFF;
}

.pi-title-divider span,
.pi-overview-divider span  {
    border-bottom-color: #BEC5CB;
}

.disability-status .pi-title-divider span  {
    border-bottom-color: $themecolor2-3; /*#4F585F*/
}

.addr-time-period  {
    color: #7E858B;
}

a.delete-address-link  {
    color: #333333;
}

.delete-address-link.disabled  {
    color: #A0A3A4;
}


.details-section-edit-link,
a:hover.details-section-edit-link,
a:focus.details-section-edit-link  {
    color: #333333;
}

button.delete-btn:focus  {
    outline-color: #333333;
}

.pi-modal-title.veterans-title  {
    color: $themecolor2-3; /*#4F585F*/
}

.dropdown-btn  {
    background-color: #FFFFFF;
    border-color: $themecolor1-3; /*#869FB1*/
    color: $themecolor1-3; /*#869FB1*/
}

.dropdown-btn:focus  {
    background-color: #FFFFFF;
    border-color: $themecolor1-3; /*#869FB1*/
    color: $themecolor2-3; /*#4F585F*/
}

.dropdown-btn.disabled  {
    background-color: #F6F9FA;
    border-color: $themecolor1-3; /*#869FB1*/
    color: $themecolor1-3; /*#869FB1*/
}

.open > .dropdown-btn  {
    background-color: #FFFFFF;
    border-color: $themecolor1; /*#206E9F*/
    color: $themecolor2-3; /*#4F585F*/
}

.open > .dropdown-menu.addAcct  {
    border-color: $themecolor1; /*#206E9F*/
}

.dropdown-menu > li > a.addAcct  {
    border-color: #FFFFFF;
    color: $themecolor2-3; /*#4F585F*/
}

.dropdown-menu > li > a.addAcct:hover,
.dropdown-menu > li > a.addAcct:focus  {
    border-top-color: $themecolor1-4; /*#B0DEEC*/
    border-bottom-color: $themecolor1-4; /*#B0DEEC*/
    background-color: $themecolor1-5; /*#F3FCFF*/
}

.open > .dropdown-btn .caret-color,
.dropdown-btn:focus .caret-color,
.desktop-listing .dropdown-btn.input-field-error:focus .caret-color  {
    color: $themecolor1; /*#206E9F*/
}

.desktop-listing .dropdown-btn  {
    color: $themecolor2-3; /*#4F585F*/
}

.desktop-listing .dropdown-btn.disabled,
.dropdown-btn.disabled:focus .caret-color  {
    color: $themecolor1-3; /*#869FB1*/
}

.desktop-listing .dropdown-btn.input-field-error .caret-color  {
    color: #CD3B3E;
}

.dropdown-menu > li.listing  {
    border-color: #FFFFFF;
    color: $themecolor2-3; /*#4F585F*/
}

.dropdown-menu > li.listing:hover,
.dropdown-menu > li.listing.dropdown-li-focus  {
    border-top-color: $themecolor1-4; /*#B0DEEC*/
    border-bottom-color: $themecolor1-4; /*#B0DEEC*/
    background-color: $themecolor1-5; /*#F3FCFF*/
}

input[type=checkbox]+.lbl::before,input[type=radio]+.lbl::before  {
    color: #FFFFFF;
    background-color: #FFFFFF;
    border-color: #CCCCCC;
}

input[type=checkbox]:focus+.lbl::before,input[type=radio]:focus+.lbl::before,input[type=checkbox][focus]+.lbl::before,input[type=radio][focus]+.lbl::before,input[type=checkbox].focus+.lbl::before,input[type=radio].focus+.lbl::before  {
    border-color: #316699;
}

input[type=radio]:focus+.lbl::before  {
    outline-color: #333333;
}


input[type=checkbox]:checked+.lbl::before,input[type=radio]:checked+.lbl::before  {
    background-color: #006600;
    border-color: #006600;
}

input[type=radio]:checked+.lbl,
.edit-veteran input[type=checkbox]:checked+.lbl  {
    color: #1C8445;
}

.radio-txt-input  {
    background-color: #FFFFFF;
    border-color: $themecolor1-3; /*#869FB1*/
    color: $themecolor1-3; /*#869FB1*/
}


table  {
    border-color: $themecolor2; /*#beccd7*/
    border-bottom-color: $themecolor2; /*#beccd7*/
    background-color: #FFFFFF;
}

table th, .table>thead>tr>th  {
    background-color: #FFFFFF;
    border-bottom-color: #C0CED0;
}

table tr:hover  {
    background-color: $themecolor1-5 !important; /*#F3FCFF*/
}

table tr.account-total-footer:hover  {
    background-color: #F9F9F9 !important;
}

table tr:hover th:last-child, .dashboard tr:hover th:nth-of-type(8)  {
    background-color: #FFFFFF;
}

table th span, .table>thead>tr>th span, table tr td  {
    color: $themecolor2-3; /*#4F585F*/
}

table tr td  {
    border-bottom-color: $themecolor2; /*#beccd7*/
}



.pi-popover  {
    background-color: #FFFFFF;
    border-color: #CCCCCC;
    border-color: #000000;
}

.pi-popover.top .arrow  {
    border-top-color: #999999;
    border-top-color: #000000;
}

.pi-popover.top .arrow:after  {
    border-top-color: #FFFFFF;
}

.pi-popover.right .arrow  {
    border-right-color: #999999;
    border-right-color: #000000;
}

.pi-popover.right .arrow:after  {
    border-right-color: #FFFFFF;
}

.pi-popover.bottom .arrow  {
    border-bottom-color: #999999;
    border-bottom-color: #000000;
}

.pi-popover.bottom .arrow:after  {
    border-bottom-color: #FFFFFF;
}

.pi-popover.left .arrow  {
    border-left-color: #999999;
    border-left-color: #000000;
}

.pi-popover.left .arrow:after  {
    border-left-color: #FFFFFF;
}

.pi-tooltip  {
    background-color: $themecolor2-5; /*#fffeea*/
    border-color: $themecolor2-1; /*#e0d397*/
}

.dir-profile .shaded  {
    background-color: #F2F2F2;
}@media screen and (max-width:767px) {

    .email-text,
    a.email-text:hover,
    a.email-text:active,
    a.email-text:focus  {
    color: #333333;
}
}

/* select2-box.css */
.select2-container .select2-choice  {
    border-color: $themecolor1-3; /*#869FB1*/
    background-color: #1E5799;
}