<!--*******************************************************************************
Copyright 2016 Ellucian Company L.P. and its affiliates.
********************************************************************************-->
<div class="phone-number-wrapper">
    <div class="clearfix">
        <div class="phone-type-view">
            {{phone.telephoneType.description}}
        </div>
        <div ng-if="phone.unlistIndicator==='Y'" class="phone-type-view unlisted">
            ({{'personInfo.label.unlisted'|i18n}})
        </div>
    </div>
    <div class="phone-number-view">
        {{phone.displayPhoneNumber}}
    </div>
    <div class="clearfix">
        <a class="pi-edit-item-link pi-icon-link" ng-click="openEditPhoneModal(phone)" enter-key="openEditPhoneModal(phone)"
           title="{{'personInfo.label.editPhone'|i18n}}"><span class="icon-edit-CO"></span></a>
        <button class="delete-btn" ng-click="TODO()" title="{{'personInfo.label.deletePhone'|i18n}}"></button>
    </div>
</div>
