<!--*******************************************************************************
Copyright 2016 Ellucian Company L.P. and its affiliates.
********************************************************************************-->
<div class="phone-number-wrapper">
    <div class="phone-type-view">
        {{phone.telephoneType.description}}
    </div>
    <div class="phone-number-view">
        {{phone.displayPhoneNumber}}
    </div>
    <div class="clearfix">
        <a class="pi-edit-item-link pi-icon-link" ng-click="TODO()" enter-key="TODO()" title="Edit phone number"><span class="icon-edit-CO"></span></a>
        <button class="delete-phone-btn" ng-click="TODO()" title="Delete phone number"></button>
    </div>
</div>
