<!--******************************************************************************
Copyright 2017-2020 Ellucian Company L.P. and its affiliates.
*******************************************************************************-->
<div class="modal-flex-cont">
    <div class="modal-unflex">
        <h2 class="pi-modal-title">{{'personinfo.disability.status.page.title'|i18n}}</h2>
        <button class="close closebtn" ng-click="cancelModal()" title="{{'personInfo.button.title.close'|i18n}}"></button>
        <div class="pad-dialog-lr disability-container">
            <div ng-class="[(isDisablilityTextClipped ? 'clip-disability-text' : null)]" class="pad-wordy-modal">
                <div class="pi-disability-section-1" ng-bind-html="disabilityStatusTextMessages.SECTION_ONE"></div>
                <div ng-bind-html="disabilityStatusTextMessages.SECTION_TWO"></div>
                <div ng-bind-html="disabilityStatusTextMessages.SECTION_THREE"></div>
                <div class="pi-title-divider"><span></span></div><br/>
                <div ng-bind-html="disabilityStatusTextMessages.SECTION_FOUR"></div>
            </div>
            <div class="pad-wordy-modal">
                <a ng-click="toggleDisabilityTextVisibility()" enter-key="toggleDisabilityTextVisibility()"
                   class="toggle-disability pi-link" tabindex="0">
                    {{(isDisablilityTextClipped ? 'personinfo.disability.viewMore' : 'personinfo.disability.viewLess')|i18n}}
                </a><br>
                <label class="input-field-label"
                       ng-class="(disabilityErrMsg && !disabilityStatus ? 'input-field-label field-error' : 'input-field-label')">
                    {{'personinfo.disability.question'|i18n}}
                </label>
                <br>
                <input ng-model="disabilityStatus" class="edit-radio" type="radio" name="disability-status" value="DY"
                       id="dy-radio-lbl">
                <label class="lbl radio-list pi-fix" for="dy-radio-lbl">{{disabilityStatusTextMessages.BUTTON_DY}}</label>
                <br>
                <input ng-model="disabilityStatus" class="edit-radio" type="radio" name="disability-status" value="DN"
                       id="dn-radio-lbl">
                <label class="lbl radio-list pi-fix" for="dn-radio-lbl">{{disabilityStatusTextMessages.BUTTON_DN}}</label>
                <br>
                <input ng-model="disabilityStatus" class="edit-radio" type="radio" name="disability-status" value="NA"
                       id="na-radio-lbl">
                <label class="lbl radio-list pi-fix" for="na-radio-lbl">{{disabilityStatusTextMessages.BUTTON_NA}}</label>
                <br>
                <p class="input-field-label mobile-errors" ng-class="[(!!disabilityErrMsg && !disabilityStatus ? 'field-error error-font-size' : 'no-display')]"
                   role="alert" aria-live="assertive">{{disabilityErrMsg|i18n}}</p>
                <p class="input-field-label mobile-errors response-err" ng-class="[(!!disabilityUpdateErrMsg ? 'field-error error-font-size' : 'no-display')]"
                   role="alert" aria-live="assertive">{{disabilityUpdateErrMsg}}</p>
                <div id="disabilityErrorMsgCenter" class="visuallyhidden" tabindex="-1">
                    <span>{{disabilityErrMsg|i18n}}</span>
                    <span>{{disabilityUpdateErrMsg}}</span>
                </div>
            </div>
        </div>
    </div>
    <div class="dialog-footer-margin pi-modal-footer">
        <button ng-click="cancelModal()" class="dialog-btn-cancel cancel-btn two-btn-layout">
            {{'personInfo.label.button.cancel'|i18n}}
        </button>
        <button ng-click="saveDisabilityStatus()" class="dialog-btn primary two-btn-layout">
            {{'personInfo.label.button.update'|i18n}}
        </button>
    </div>
</div>
