/*******************************************************************************
 Copyright 2017-2020 Ellucian Company L.P. and its affiliates.
 *******************************************************************************/
/* adjust styling just for rtl page */

.edit-email input[type=text] {
    text-align: right;
}

.disability-act-text {
    display: inline-block;
}

.answer-survey-container .return-to-beginning {
    background: url('../icon-pagination-next.svg') no-repeat center right;
}

/***********************/
/* Media Query Section */
/***********************/

@media screen and (min-width: 768px) {
    .clear-row .col-md-4:nth-child(3n+1),
    .edit-addr .maybe-clear:nth-child(3n+1),
    .edit-emer-contact .maybe-clear:nth-child(3n+1),
    .edit-emer-contact div.maybe-clear:nth-child(3n+1) {
        clear: right;
    }
}

@media screen and (min-width:1024px) {
    .view-list div.item-wrapper:nth-child(3n+1),
    .emergency-contact-list div.col-xs-12:nth-child(3n+1),
    .addr-list > div:nth-child(3n+1) {
        clear: right;
    }
}

/*Tablet device*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .view-list div.item-wrapper:nth-child(2n+1),
    .emergency-contact-list div.col-xs-12:nth-child(2n+1),
    .addr-list > div:nth-child(2n+1) {
        clear: right;
    }
}

/* Overrides for xe-ui-components.css/_select.scss */
.select2-results .select2-highlighted {
    background: #3875d7 !important;
}

.select2-dropdown-open .select2-choice {
    background-image: none !important;
}
/* END Overrides for xe-ui-components.css/_select.scss */

ul {
    padding-left: 0;
}

.ui-select-container .select2-choice
{
    width: inherit;
    border-color: #151618;
    margin: 0;
}
